body{
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

nav{
    margin: 15px;
}

nav a{
    text-decoration: none;
    background-color: #215171;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
}

nav a:hover{
    background-color: #163a52;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

caption{
    font-size: 28px;
    font-weight: bold;
    color: #215171;
    margin: 15px;
}

th{
    background-color: #215171;
    color: white;
    padding: 10px;
}

td{
    padding: 8px;
    text-align: center;
}

th,td{
    border: 1px solid #b8c4ce;
}

